.btn {
    margin-top: 78px;
    margin-bottom: 76px;
    button {
        border: $lightpurplecolor solid 1px;
        padding: 13px 25px;
        border-radius: 25px;
        background: white;
        font-family: $font;
    }
}