.emptyScreen {
    display: grid;
    width: 50%;
    margin: 0px;
    margin: 0px 25%;
    gap: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    img {
        width: 100px;
        height: 100px;
    }
}

.favoritos__title {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    >img {
        justify-self: center;
        width: 5%;
        margin-left: 47%;
    }
}