.misgifos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px;
    margin: 0px 21px;
    h1 {
        font-size: 25px;
    }
    img {
        width: 25%;
        height: 120px;
        margin-bottom: 20px;
    }
}

.gifosimg {
    margin-bottom: 3rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    width: 70%;
    padding: 0rem 15%;
    h1 {
        font-size: 25px;
    }
    img {
        justify-self: center;
        width: 28px;

    }
}

#gifobuilder, #misFavor {
    display: grid;
    grid-template-columns: 300px 300px;
    img {
        width: 260px;
        height: 200px;
    }

}

@media (min-width: 840px) {
    #gifobuilder {
        display: grid;
        grid-template-columns: 260px 260px 260px 260px;
        grid-template-rows: 200px;
        gap: 2%;
        margin-bottom: 40px;
        img {
            height: 200px;
        }
    }
}