.trending {
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 45px;
        width: 236px;
        justify-self: center;
        align-self: center;
        p {
            size: 14px;
            color: $lightpurplecolor;
            align-self: center;
        }
        h4 {
            padding-bottom: 5px;
            size: 19px;
            color: $lightpurplecolor;
            align-self: center;
        }
    }
}

.trendinggifos {
    display: flex;
    flex-direction: column;
    background-color: $lightwhite;
    height: 430px;
    .galleryfoot {
        width: 330px;
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        align-self: center;
        h3 {
            align-self: center;
            color: $lightpurplecolor;
        }
        p {
            align-self: center;
        }
    }
    .gallery {
        flex-direction: row;
        align-self: center;
        width: 100%;
        height: 180px;
        margin-bottom: 82px;
        margin-top: 32px;
        .arrows {
            display: none;
        }
        #gifs {
            width: auto;
            height: 100%;
            overflow-x: scroll;
            img {
                margin: 0rem 0.5rem;
            }
        }
    }
}

@media (min-width: 540px) {
    .trending {
        div {
            margin-top: 70px;
            margin-bottom: 95px;
            width: 100%;
            justify-self: center;
            align-self: center;
            p {
                width: 100%;
                size: 14px;
                color: $lightpurplecolor;
                align-self: center;
            }
            h4 {
                padding-bottom: 5px;
                size: 19px;
                color: $lightpurplecolor;
                align-self: center;
            }
        }
    }
    .trendinggifos {
        height: 640px;
        .gallery{
            justify-self: flex-start;
            align-self: center;
            width: 100%;
            height: 275px;
            margin-bottom: 182px;
            margin-top: 53px;
            overflow: hidden;
            #gifs {
                width: 90%;
                height: 100%;
                padding-left: 60%;
                margin: 0px;
                overflow: hidden;
                    img {
                        //width: 35%;
                        height: inherit;
                        margin: 0rem 14px;
                    }
            }
            .arrows {
                font-style: none;
                background-color: none;
                width: 40px;
                height: 40px;
                align-self: center;
                display: initial;
                margin: 5px;
                margin-top: 20px;
            }
        }
    }
}